@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #f0f8ff;
		--foreground: #180e06;
		--card: #ffffff;
		--card-foreground: #0a0a0a;
		--popover: #d1e0f0;
		--popover-foreground: #0a0a0a;
		--primary: #2c3e50;
		--primary-foreground: #ffffff;
		--secondary: #8a9aa1;
		--secondary-foreground: #1a1a1a;
		--muted: #d8e2eb;
		--muted-foreground: #4f5b61;
		--accent: #345466;
		--accent-foreground: #f0f8ff;
		--destructive: #b71c1c;
		--destructive-foreground: #ffffff;
		--border: #cfd8dc;
		--input: #d8e2eb;
		--ring: #156083;
		--radius: 0.5rem;
		--chart-1: #e76f51;
		--chart-2: #198754;
		--chart-3: #1d4d4f;
		--chart-4: #f4a261;
		--chart-5: #f4b400;
	}

	.dark {
		--background: #1b2730;
		--foreground: #f5f5f5;
		--card: #121d26;
		--card-foreground: #e3e3e3;
		--popover: #253543;
		--popover-foreground: #f5f5f5;
		--primary: #97b8bf;
		--primary-foreground: #0a0a0a;
		--secondary: #28353e;
		--secondary-foreground: #f5f5f5;
		--muted: #2a3945;
		--muted-foreground: #a3a3a3;
		--accent: #66889e;
		--accent-foreground: #121d26;
		--destructive: #c0392b;
		--destructive-foreground: #f5f5f5;
		--border: #334048;
		--input: #4a5f70;
		--ring: #4a98b6;
		--chart-1: #3b82f6;
		--chart-2: #2d6a4f;
		--chart-3: #f59e0b;
		--chart-4: #9333ea;
		--chart-5: #ef4444;
	}
}

.vertical-flex {
	@apply flex flex-col;
}

@keyframes loading-bar {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

.animate-loading-bar {
	animation: loading-bar 1s linear infinite;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
	background-color: #555;
}
