@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 255, 255, 255;
		--foreground: 24, 14, 6;
		--card: 255, 255, 255;
		--card-foreground: 24, 14, 6;
		--popover: 255, 255, 255;
		--popover-foreground: 24, 14, 6;
		--primary: 25, 25, 38;
		--primary-foreground: 255, 255, 250;
		--secondary: 24, 15, 87;
		--secondary-foreground: 25, 25, 38;
		--muted: 24, 15, 87;
		--muted-foreground: 24, 18, 59;
		--accent: 24, 15, 87;
		--accent-foreground: 25, 25, 38;
		--destructive: 255, 72, 61;
		--destructive-foreground: 255, 255, 250;
		--border: 25, 25, 59;
		--input: 25, 25, 59;
		--ring: 25, 25, 38;
		--radius: 0.5rem;
		--chart-1: 181, 100, 56;
		--chart-2: 118, 101, 42;
		--chart-3: 125, 75, 33;
		--chart-4: 145, 139, 61;
		--chart-5: 154, 67, 66;
	}

	.dark {
		--background: 5, 20, 28;
		--foreground: 255, 255, 250;
		--card: 24, 14, 6;
		--card-foreground: 255, 255, 250;
		--popover: 24, 14, 6;
		--popover-foreground: 255, 255, 250;
		--primary: 255, 255, 250;
		--primary-foreground: 25, 25, 38;
		--secondary: 24, 16, 39;
		--secondary-foreground: 255, 255, 250;
		--muted: 24, 16, 39;
		--muted-foreground: 25, 26, 48;
		--accent: 24, 16, 39;
		--accent-foreground: 255, 255, 250;
		--destructive: 255, 160, 80;
		--destructive-foreground: 255, 255, 250;
		--border: 24, 16, 39;
		--input: 24, 16, 39;
		--ring: 25, 25, 70;
		--chart-1: 147, 105, 126;
		--chart-2: 122, 131, 121;
		--chart-3: 163, 120, 88;
		--chart-4: 134, 104, 107;
		--chart-5: 146, 77, 88;
	}
}
