@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #f0f8ff;
		--foreground: #180e06;
		--card: #ffffff;
		--card-foreground: #0a0a0a;
		--popover: #d1e0f0;
		--popover-foreground: #0a0a0a;
		--primary: #005f73;
		--primary-foreground: #fafafa;
		--secondary: #a6b2b8;
		--secondary-foreground: #1a1a1a;
		--muted: #e6eff5;
		--muted-foreground: #636e72;
		--accent: #2c7da0;
		--accent-foreground: #ffffff;
		--destructive: #d32f2f;
		--destructive-foreground: #fafafa;
		--border: #d1d5db;
		--input: #d8e2eb;
		--ring: #004d61;
		--radius: 0.5rem;
		--chart-1: #e76f51;
		--chart-2: #198754;
		--chart-3: #1d4d4f;
		--chart-4: #f4a261;
		--chart-5: #f4b400;
	}

	.dark {
		--background: #1b2730;
		--foreground: #fffffa;
		--card: #121d26;
		--card-foreground: #e3e3e3;
		--popover: #253543;
		--popover-foreground: #fafafa;
		--primary: #47a8bd;
		--primary-foreground: #121d26;
		--secondary: #28353e;
		--secondary-foreground: #fafafa;
		--muted: #2a3945;
		--muted-foreground: #a3a3a3;
		--accent: #62b6cb;
		--accent-foreground: #ffffff;
		--destructive: #c0392b;
		--destructive-foreground: #fafafa;
		--border: #05141c;
		--input: #3d515e;
		--ring: #62b6cb;
		--chart-1: #3b82f6;
		--chart-2: #2d6a4f;
		--chart-3: #f59e0b;
		--chart-4: #9333ea;
		--chart-5: #ef4444;
	}
}

.vertical-flex {
	@apply flex flex-col;
}
